body {
  font-family: 'Source Sans Pro', sans-serif;
}

p,
h6,
a {
  font-size: 108%;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-item {
  margin: 0 18px;
}

.navbar-homepage {
  font-family: 'Silkscreen', cursive;
  font-size: 22px;
}
.navbar-aboutpage {
  font-family: 'Silkscreen', cursive;
  font-size: 22px;
  background-color: #dbecfe;
}

#header {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://bing.biturl.top/?resolution=1920&format=image&index=0&mkt=en-CA);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.content {
  display: flex;
  /* -webkit-box-pack: center; */
  justify-content: center;
  /* -webkit-box-align: center; */
  align-items: center;
  flex-direction: column;
  height: 85vh;
  text-align: center;
}

#name {
  text-align: center;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  margin-bottom: 70px;
}

/* button define */
/* CSS */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  color: rgb(205, 201, 201);
  display: inline-block;
  font-size: 30px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 25px;
  font-family: 'Silkscreen', cursive;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 60%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: '';
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(50, 50, 50);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  /* opacity: 0.5; */
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 0.9;
  color: hsla(0, 0%, 100%, 0.8);
  justify-content: flex-end;
  height: 6vh;
}
.aboutBackground {
  background-color: #dbecfe;
}

.Description {
  font-size: 13px;
  opacity: 70%;
}

.HeaderFooter {
  margin-bottom: 8px;
}

.aboutnabvar {
  color: black !important;
}

.aboutnabvar:hover {
  color: #66a12e !important;
}

.size {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  border-radius: 25px;
}

.inline {
  display: inline;
}

h6.inline {
  font-weight: bold;
  font-size: 108%;
}

#about {
  background-color: #dbecfe;
  padding-bottom: 45px;
}

.aboutContent {
  align-items: center;
}

.icon {
  padding: 0 20px;
}

.iconposition {
  text-align: center;
}

.iconpositionicon {
  margin: 0 10px;
}
.Education {
  font-size: large;
  font-weight: 600;
}
.imgpos {
  margin-bottom: 10px;
}

/* responsive on the small screen */

@media (max-width: 600px) {
  /* Another alternative way is to add the body ancestor  */
  .containerSizing {
    margin-left: 10px;
    margin-right: 0px;
  }
}

@media (min-width: 600px) {
  .containerSizing {
    margin-left: 70px;
    margin-right: 70px;
  }
}

#projects {
  background-color: #7fbde491;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
}

/* #contacts .container-fluid {
  padding: 2% 10%;
} */

.project_img_size {
  height: 200px;
  width: 300px;
  border-radius: 15px;
  display: block;
  margin: auto;
  border: 2mm ridge rgb(47 112 187 / 60%);
}

#projects-container {
  width: 80vw;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.project-image {
  margin-right: 30px;
}
.project-content {
  border-radius: 15px;
  background-color: rgb(101 159 217 / 61%);
  text-align: left;
  padding: 25px;
  width: 100%;
}

.project-stack {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  font-size: 1.1em;
  flex-wrap: wrap;
}
.project-stack li {
  margin-right: 0.8em;
  margin-bottom: 0.4em;
  padding: 0.2em 0.5em;
  background-color: rgb(198 226 255);
  border-radius: 0.2em;
}
.project-button {
  margin-right: 1.5em;
  padding: 0.4em 1em;
  border: 1px solid #f1f1f1;
  border-radius: 15px;
  /* font-size: 1em; */
}
.project-button:hover {
  color: #84c943;
  border: 1px solid rgba(138, 217, 2, 0.7);
}

.project-link {
  margin-top: 1rem;
}
.project-link a {
  text-decoration: none;
  color: #f1f1f1;
  transition: 0.5s;
}
@media (max-width: 750px) {
  .project {
    flex-direction: column;
  }

  .project-image {
    margin-right: 0px;
    margin-bottom: 12px;
  }
}

@media (max-width: 900px) {
  .size {
    margin-right: 10px;
    width: 265px;
  }
  .iconposition {
    margin-right: 10px;
  }
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
  background-color: #87b7e2;
}

input,
textarea {
  background-color: #b8daf0;
  color: #000000;
  padding: 0.5em;
  font-size: 1.1em;
  margin: 10px 0;
  border: 2px solid #79a4ce;
  border-radius: 5px;
  font-family: inherit;
  width: 97%;
  box-sizing: border-box;
}
#contact-form {
  max-width: 650px;
  text-align: center;
}
#form-text {
  max-width: 650px;
  text-align: left;
}
.formButton {
  background-color: rgb(184 218 240);
  color: #000a44;
  padding: 0.5em 2em;
  font-size: 1.2em;
  margin: 10px;
  border: 2px solid #0e468a;
  border-radius: 25px;
}

.formButton:hover {
  background-color: rgba(29, 249, 0, 0.149);
  color: #356806;
  border: 2px solid #84c943;
}

@media (max-width: 1300px) {
  .containerWidth {
    width: 90% !important;
  }
}

#footer {
  padding: 10px 60px;
  display: flex;
  flex-direction: row;
  background-color: #697686;
  justify-content: space-between;
}
@media (max-width: 660px) {
  #footer {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
}
.footericonposition {
  text-align: center;
  padding: 10px 20px;
  color: white;
}
a.footericonposition:hover {
  color: #6dd10f;
}
.links {
  padding: 10px;
}

.footerp {
  text-align: center;
}
p.footerp {
  margin: 0;
}
.footerparagraph {
  padding: 10px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: white;
  opacity: 0.8;
}

#userdata_page {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  justify-content: center;
}
.userdatabuttondeleteone {
  margin-top: 10px;
}

#skills{

}

.skills-layout{
  
}

.skillcontainer{
  max-width: 960px;
}